# Secrets
.env
backend/.env

# Python
venv/
__pycache__/
*.pyc
backend/cookies/
backend/data/
backend/scrape/

# Node
frontend/node_modules/
frontend/dist/

# macOS
._*
.DS_Store

# IDEs
.idea/
.vscode/
