# ---- Flask ----
PORT=5001

# ---- NSUT Portal Credentials ----
roll_no=2024umeXXXX
password=your_password_here

# ---- SMTP ----
stmp_email=your_email@gmail.com
stmp_password=your_app_password_here

# ---- Playwright ----
PLAYWRIGHT_BROWSERS_PATH=0
